apialtapeticions/doc/DocumentacionAdicional/ActualizacionProcedimiento/respuesta.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:ns1="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/V3/respuesta" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" schemaLocation="datos-especificos.xsd"/>
	<xs:element name="Apellido1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Atributos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdPeticion"/>
				<xs:element ref="NumElementos"/>
				<xs:element ref="TimeStamp"/>
				<xs:element ref="Estado"/>
				<xs:element ref="CodigoCertificado"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodigoCertificado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SVDPIDACTPROCWS01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consentimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Si"/>
				<xs:enumeration value="NoOpo"/>
				<xs:enumeration value="Ley"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosGenericos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Emisor"/>
				<xs:element ref="Solicitante"/>
				<xs:element ref="Titular" minOccurs="0"/>
				<xs:element ref="Transmision"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Emisor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NifEmisor"/>
				<xs:element ref="NombreEmisor"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado"/>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
				<xs:element ref="LiteralError"/>
				<xs:element ref="TiempoEstimadoRespuesta" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaGeneracion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="10"/>
				<xs:maxLength value="29"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Finalidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnidadTramitadora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoUnidadTramitadora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="([AUIJO][0-9]|CC|G[EA]|E([AC]|[0-9])|L(A|[0-9]))[0-9]{7}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="3"/>
				<xs:maxLength value="20"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Automatizado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClaseTramite">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="21"/>
				<xs:enumeration value="22"/>
				<xs:enumeration value="23"/>
				<xs:enumeration value="24"/>
				<xs:enumeration value="25"/>
				<xs:enumeration value="26"/>
				<xs:enumeration value="27"/>
				<xs:enumeration value="28"/>
				<xs:enumeration value="29"/>
				<xs:enumeration value="30"/>
				<xs:enumeration value="31"/>
				<xs:enumeration value="32"/>
				<xs:enumeration value="33"/>
				<xs:enumeration value="34"/>
				<xs:enumeration value="99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdExpediente">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="65"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Funcionario">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NombreCompletoFuncionario"/>
				<xs:element ref="NifFuncionario"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Procedimiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodProcedimiento"/>
				<xs:element ref="NombreProcedimiento"/>
				<xs:element ref="Automatizado" minOccurs="0"/>
				<xs:element ref="ClaseTramite" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentificadorSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z][0-9]{7}[0-9A-Za-z]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdPeticion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="26"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdSolicitud">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdTransmision">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="29"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1024"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S2833002E"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NifFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="(([XxYyZz])[0-9]{7}([a-z]|[A-Z]))|([0-9]{8}([a-z]|[A-Z]))"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompleto">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreCompletoFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumElementos">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Respuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Atributos"/>
				<xs:element ref="Transmisiones" minOccurs="0"/>
				<!-- Las transmisiones son opcionales en caso de que la repuesta no este preparada y se devuelva un TER -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Solicitante">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdentificadorSolicitante"/>
				<xs:element ref="NombreSolicitante"/>
				<xs:element ref="UnidadTramitadora"/>
				<xs:element ref="CodigoUnidadTramitadora"/>
				<xs:element ref="Procedimiento"/>
				<xs:element ref="Finalidad"/>
				<xs:element ref="Consentimiento"/>
				<xs:element ref="Funcionario"/>
				<xs:element ref="IdExpediente" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TiempoEstimadoRespuesta">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TimeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="29"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoDocumentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NIF"/>
				<xs:enumeration value="NIE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TipoDocumentacion" minOccurs="0"/>
				<xs:element ref="Documentacion" minOccurs="0"/>
				<xs:element ref="NombreCompleto" minOccurs="0"/>
				<xs:element ref="Nombre" minOccurs="0"/>
				<xs:element ref="Apellido1" minOccurs="0"/>
				<xs:element ref="Apellido2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoCertificado"/>
				<xs:element ref="IdSolicitud"/>
				<xs:element ref="IdTransmision"/>
				<xs:element ref="FechaGeneracion"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransmisionDatos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenericos"/>
				<xs:element ref="ns1:DatosEspecificos"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!--   Las transmisiones son opcionales en caso de devolver en la respuesta un nuevo TER.-->
	<xs:element name="Transmisiones" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransmisionDatos" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
